div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}  

.blanco {
    background-color: white;
}  

.rojo {
    background-color: red;
}  

.amarillo {
    background-color: yellow;
}